isodate
yt-dlp 
langdetect
beautifulsoup4 
transformers
pinecone
langchain
langchain-community
dotenv
torch 
psycopg2-binary 
sentence-transformers
sentencepiece
accelerate
langchain-pinecone 
langchain-huggingface
git+https://github.com/openai/whisper.git
language-tool-python
ffmpeg
stanza
flask
flask-jwt-extended
flask-marshmallow
marshmallow
passlib
python-dotenv
flask-cors
pytz
flask-limiter
mongoengine
requests 
user-agents
flask-socketio 
PyPDF2
python-docx
pytesseract